<head>
    <title>College Admin Dashboard || UPIRF</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/admin.css">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            border-radius: 5px;

        }

        table {
            border: none;
            width: 182%;
        }

        td {
            padding: 10px;
            font-size: 20px;
        }

        .half {
            width: 50%;
        }
    </style>
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">

                <strong>UPIRF</strong>
            </div>

            <ul class="list-unstyled components" style="cursor: pointer;">
                <li id="dashboard_link">
                    <a>
                        Dashboard
                    </a>
                </li>
                <li id="fill_data_link">
                    <a>
                        Student Strength
                    </a>
                </li>
                <li id="data_link">
                    <a>
                        Placement & higher Studies
                    </a>
                </li>
                <li id="phd_link">
                    <a>
                        Ph.D Student Details
                    </a>
                </li>
                <li id="finance_link">
                    <a>
                        Financial Resources
                    </a>
                </li>
                <li id="annualexp_link">
                    <a>
                        Annual Expenditure
                    </a>
                </li>
                <li id="ipr_link">
                    <a>
                        IPR
                    </a>
                </li>
                <li id="sponsored_link">
                    <a>
                        Sponsored Research
                    </a>
                </li>
                <li id="consultancy_link">
                    <a>
                        Consultancy Project
                    </a>
                </li>
                <li id="pcs_link">
                    <a>
                        PCS facilities
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <a href="/admin/logout" class="btn btn-dark d-inline-block ml-auto" type="button">
                        Logout
                    </a>
                </div>
            </nav>

            <div id="dashboard">
                <div class="row text-center ">
                    <div class="col-lg-12">
                        <h1 class="h1-responsive font-weight-bold text-info">Dashboard</h1>
                    </div>
                </div>

                <hr>
                <div class="card college-details">
                    <table>
                        <tr>
                            <td><b>Institute ID</b></td>
                            <td>
                                <%= instituteId %>

                            </td>
                        </tr>
                        <tr>
                            <td><b>Institute Name</b></td>
                            <td>
                                <%= instituteName %>
                            </td>
                        </tr>
                    </table>

                </div>

            </div>
            <!-- student strength -->
            <div id="student_strength" class="d-none">
                <div class="m-4">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="nav-item">
                            <a href="#ug_4" class="nav-link active" data-bs-toggle="tab">UG [4 Years Program(s)]</a>
                        </li>
                        <li class="nav-item">
                            <a href="#ug_5" class="nav-link" data-bs-toggle="tab">UG [5 Years Program(s)]</a>
                        </li>
                        <li class="nav-item">
                            <a href="#pg_2" class="nav-link" data-bs-toggle="tab">PG [2 Years Program(s)]</a>
                        </li>
                        <li class="nav-item">
                            <a href="#pg_integrated" class="nav-link" data-bs-toggle="tab">PG-Integrated</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3">
                        <div class="tab-pane fade show active" id="ug_4">
                            <div class="mb-3">
                                <label for="" class="form-label">No. of Male Students</label>
                                <input type="text" class="form-control" id="male_students">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of Female Students</label>
                                <input type="text" class="form-control" id="female_students">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Total Students</label>
                                <input type="text" class="form-control" id="total_students">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Within State (Including male & female)</label>
                                <input type="text" class="form-control" id="within_state">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Outside State (Including male & female)</label>
                                <input type="text" class="form-control" id="outside_state">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Outside Country (Including male & female)</label>
                                <input type="text" class="form-control" id="outside_country">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Economically Backward (Including male &
                                    female)</label>
                                <input type="text" class="form-control" id="economically_backward">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Socially Challenged (SC+ST+OBC Including male &
                                    female)</label>
                                <input type="text" class="form-control" id="socially_challenged">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of students receiving full tuition fee
                                    reimbursement from the State and Central Government</label>
                                <input type="text" class="form-control" id="fee_state">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of students receiving full tuition fee
                                    reimbursement from Institution Funds</label>
                                <input type="text" class="form-control" id="fee_institute">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of students receiving full tuition fee
                                    reimbursement from the Private Bodies</label>
                                <input type="text" class="form-control" id="fee_private">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of students who are not receiving full tuition
                                    fee reimbursement</label>
                                <input type="text" class="form-control" id="not_fee">
                            </div>
                            <button class="btn btn-primary" id="ug_4" onclick="ssUg4Form()">Submit</button>

                        </div>
                        <div class="tab-pane fade" id="ug_5">




                            <div class="mb-3">
                                <label for="" class="form-label">No. of Male Students</label>
                                <input type="text" class="form-control" id="male_students1">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of Female Students</label>
                                <input type="text" class="form-control" id="female_students1">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Total Students</label>
                                <input type="text" class="form-control" id="total_students1">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Within State (Including male & female)</label>
                                <input type="text" class="form-control" id="within_state1">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Outside State (Including male & female)</label>
                                <input type="text" class="form-control" id="outside_state1">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Outside Country (Including male & female)</label>
                                <input type="text" class="form-control" id="outside_country1">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Economically Backward (Including male &
                                    female)</label>
                                <input type="text" class="form-control" id="economically_backward1">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Socially Challenged (SC+ST+OBC Including male &
                                    female)</label>
                                <input type="text" class="form-control" id="socially_challenged1">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of students receiving full tuition fee
                                    reimbursement from the State and Central Government</label>
                                <input type="text" class="form-control" id="fee_state1">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of students receiving full tuition fee
                                    reimbursement from Institution Funds</label>
                                <input type="text" class="form-control" id="fee_institute1">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of students receiving full tuition fee
                                    reimbursement from the Private Bodies</label>
                                <input type="text" class="form-control" id="fee_private1">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of students who are not receiving full tuition
                                    fee reimbursement</label>
                                <input type="text" class="form-control" id="not_fee1">
                            </div>
                            <button type="submit" class="btn btn-primary" id="ug5" onclick="ssUg5Form()">Submit
                            </button>

                        </div>
                        <div class="tab-pane fade" id="pg_2">
                            <div class="mb-3">
                                <label for="" class="form-label">No. of Male Students</label>
                                <input type="text" class="form-control" id="male_students2">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of Female Students</label>
                                <input type="text" class="form-control" id="female_students2">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Total Students</label>
                                <input type="text" class="form-control" id="total_students2">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Within State (Including male & female)</label>
                                <input type="text" class="form-control" id="within_state2">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Outside State (Including male & female)</label>
                                <input type="text" class="form-control" id="outside_state2">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Outside Country (Including male & female)</label>
                                <input type="text" class="form-control" id="outside_country2">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Economically Backward (Including male &
                                    female)</label>
                                <input type="text" class="form-control" id="economically_backward2">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Socially Challenged (SC+ST+OBC Including male &
                                    female)</label>
                                <input type="text" class="form-control" id="socially_challenged2">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of students receiving full tuition fee
                                    reimbursement from the State and Central Government</label>
                                <input type="text" class="form-control" id="fee_state2">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of students receiving full tuition fee
                                    reimbursement from Institution Funds</label>
                                <input type="text" class="form-control" id="fee_institute2">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of students receiving full tuition fee
                                    reimbursement from the Private Bodies</label>
                                <input type="text" class="form-control" id="fee_private2">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of students who are not receiving full tuition
                                    fee reimbursement</label>
                                <input type="text" class="form-control" id="not_fee2">
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="ssPg2Form()">Submit</button>

                        </div>
                        <div class="tab-pane fade" id="pg_integrated">

                            <div class="mb-3">
                                <label for="" class="form-label">No. of Male Students</label>
                                <input type="text" class="form-control" id="male_students3">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of Female Students</label>
                                <input type="text" class="form-control" id="female_students3">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Total Students</label>
                                <input type="text" class="form-control" id="total_students3">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Within State (Including male & female)</label>
                                <input type="text" class="form-control" id="within_state3">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Outside State (Including male & female)</label>
                                <input type="text" class="form-control" id="outside_state3">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Outside Country (Including male & female)</label>
                                <input type="text" class="form-control" id="outside_country3">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Economically Backward (Including male &
                                    female)</label>
                                <input type="text" class="form-control" id="economically_backward3">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Socially Challenged (SC+ST+OBC Including male &
                                    female)</label>
                                <input type="text" class="form-control" id="socially_challenged3">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of students receiving full tuition fee
                                    reimbursement from the State and Central Government</label>
                                <input type="text" class="form-control" id="fee_state3">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of students receiving full tuition fee
                                    reimbursement from Institution Funds</label>
                                <input type="text" class="form-control" id="fee_institute3">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of students receiving full tuition fee
                                    reimbursement from the Private Bodies</label>
                                <input type="text" class="form-control" id="fee_private3">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">No. of students who are not receiving full tuition
                                    fee reimbursement</label>
                                <input type="text" class="form-control" id="not_fee3">
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="ssPgIntegratedForm()">Submit
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- placement -->
            <div id="placement" class="d-none">
                <div class="m-4">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="nav-item">
                            <a href="#ug_44" class="nav-link active" data-bs-toggle="tab">UG [4 Years Program(s)]</a>
                        </li>
                        <li class="nav-item">
                            <a href="#ug_55" class="nav-link" data-bs-toggle="tab">UG [5 Years Program(s)]</a>
                        </li>
                        <li class="nav-item">
                            <a href="#pg_22" class="nav-link" data-bs-toggle="tab">PG [2 Years Program(s)]</a>
                        </li>
                        <li class="nav-item">
                            <a href="#pg_integratedd" class="nav-link" data-bs-toggle="tab">PG-Integrated</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3">
                        <div class="tab-pane fade show active" id="ug_44">
                            <div class="m-4">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li class="nav-item">
                                        <a href="#2021" class="nav-link active" data-bs-toggle="tab">2021</a>
                                    </li>
                                </ul>
                                <div class="tab-content mt-3">
                                    <div class="tab-pane fade show active" id="2021">

                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of first year students intake in
                                                the year</label>
                                            <input type="text" class="form-control" id="first_year_intake">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of first year students admitted in
                                                the year</label>
                                            <input type="text" class="form-control" id="first_year_admitted">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Academic Year</label>
                                            <input type="text" class="form-control" id="academic_year">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of students admitted through
                                                Lateral entry</label>
                                            <input type="text" class="form-control" id="lateral_entry">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Academic Year</label>
                                            <input type="text" class="form-control" id="academic_year_again">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of students graduating in minimum
                                                stipulated time</label>
                                            <input type="text" class="form-control" id="min_stipulated_time">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of students placed</label>
                                            <input type="text" class="form-control" id="placed">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Median salary of placed graduates
                                                (Amount in Rs.)</label>
                                            <input type="text" class="form-control" id="median_salary">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of students selected for Higher
                                                Studies</label>
                                            <input type="text" class="form-control" id="higher_studies">
                                        </div>
                                        <button class="btn btn-primary" onclick="placementUg4Form()">Submit</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="ug_55">
                            <div class="m-4">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li class="nav-item">
                                        <a href="#2021" class="nav-link active" data-bs-toggle="tab">2021</a>
                                    </li>
                                </ul>
                                <div class="tab-content mt-3">
                                    <div class="tab-pane fade show active" id="2021">

                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of first year students intake in
                                                the year</label>
                                            <input type="text" class="form-control" id="first_year_intake1">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of first year students admitted in
                                                the year</label>
                                            <input type="text" class="form-control" id="first_year_admitted1">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Academic Year</label>
                                            <input type="text" class="form-control" id="academic_year1">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of students admitted through
                                                Lateral entry</label>
                                            <input type="text" class="form-control" id="lateral_entry1">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Academic Year</label>
                                            <input type="text" class="form-control" id="academic_year_again1">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of students graduating in minimum
                                                stipulated time</label>
                                            <input type="text" class="form-control" id="min_stipulated_time1">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of students placed</label>
                                            <input type="text" class="form-control" id="placed1">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Median salary of placed graduates
                                                (Amount in Rs.)</label>
                                            <input type="text" class="form-control" id="median_salary1">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of students selected for Higher
                                                Studies</label>
                                            <input type="text" class="form-control" id="higher_studies1">
                                        </div>
                                        <button class="btn btn-primary" onclick="placementUg5Form()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pg_22">
                            <div class="m-4">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li class="nav-item">
                                        <a href="#2021" class="nav-link active" data-bs-toggle="tab">2021</a>
                                    </li>
                                </ul>
                                <div class="tab-content mt-3">
                                    <div class="tab-pane fade show active" id="2021">

                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of first year students intake in
                                                the year</label>
                                            <input type="text" class="form-control" id="first_year_intake2">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of first year students admitted in
                                                the year</label>
                                            <input type="text" class="form-control" id="first_year_admitted2">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Academic Year</label>
                                            <input type="text" class="form-control" id="academic_year2">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of students admitted through
                                                Lateral entry</label>
                                            <input type="text" class="form-control" id="lateral_entry2">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Academic Year</label>
                                            <input type="text" class="form-control" id="academic_year_again2">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of students graduating in minimum
                                                stipulated time</label>
                                            <input type="text" class="form-control" id="min_stipulated_time2">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of students placed</label>
                                            <input type="text" class="form-control" id="placed2">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Median salary of placed graduates
                                                (Amount in Rs.)</label>
                                            <input type="text" class="form-control" id="median_salary2">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of students selected for Higher
                                                Studies</label>
                                            <input type="text" class="form-control" id="higher_studies2">
                                        </div>
                                        <button class="btn btn-primary" onclick="placementPg2Form()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pg_integratedd">
                            <div class="m-4">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li class="nav-item">
                                        <a href="#2021" class="nav-link active" data-bs-toggle="tab">2021</a>
                                    </li>
                                </ul>
                                <div class="tab-content mt-3">
                                    <div class="tab-pane fade show active" id="2021">

                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of first year students intake in
                                                the year</label>
                                            <input type="text" class="form-control" id="first_year_intake3">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of first year students admitted in
                                                the year</label>
                                            <input type="text" class="form-control" id="first_year_admitted3">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Academic Year</label>
                                            <input type="text" class="form-control" id="academic_year3">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of students admitted through
                                                Lateral entry</label>
                                            <input type="text" class="form-control" id="lateral_entry3">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Academic Year</label>
                                            <input type="text" class="form-control" id="academic_year_again3">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of students graduating in minimum
                                                stipulated time</label>
                                            <input type="text" class="form-control" id="min_stipulated_time3">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of students placed</label>
                                            <input type="text" class="form-control" id="placed3">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Median salary of placed graduates
                                                (Amount in Rs.)</label>
                                            <input type="text" class="form-control" id="median_salary3">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">No. of students selected for Higher
                                                Studies</label>
                                            <input type="text" class="form-control" id="higher_studies3">
                                        </div>
                                        <button class="btn btn-primary" onclick="placementPgIntegratedForm()">Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .PH.D STUDENT DETAILS SECTION -->
            <div id="phd" class="d-none">
                <div class="row text-center ">
                    <div class="col-lg-12">
                        <h1 class="h1-responsive font-weight-bold text-info">Ph.D Student Details</h1>
                    </div>
                </div>
                <hr>
                <!-- form phd student details -->


                <div class="card" style="width:84%;">
                    <div style="margin: 20px 0 0 13px;font-weight: bold;">

                        <p style="color:red;">**Student pursuing doctoral program till last Academic Year; Students
                            admitted
                            in
                            the current academic
                            year should not be entered here.</p>
                    </div>
                    <table style="width: 50%;">
                        <tr>
                            <td>Full Time</td>
                            <td>
                                <input type="number" class="form-control" id="full_time_phd_students">
                            </td>
                        </tr>
                        <tr>
                            <td>Part Time</td>
                            <td>
                                <input type="number" class="form-control" id="part_time_phd_students">
                            </td>
                        </tr>
                    </table>
                </div>
                <hr>
                <div class="card" style="width:84%">
                    <div style="margin: 20px 0 0 13px;font-weight: bold;">

                        No. of Ph.D students graduated (including Integrated Ph.D) for previous 3 years
                    </div>
                    <table style="width:100%">
                        <tr>
                            <td>Academic Year</td>
                            <td>
                                <input type="number" class="form-control" placeholder="current year" id="prev_year1">

                            </td>
                            <td>
                                <input type="number" class="form-control" placeholder="previous year" id="prev_year2">

                            </td>
                            <td>
                                <input type="number" class="form-control" placeholder="second last year"
                                    id="prev_year3">

                            </td>
                        </tr>
                        <tr>
                            <td>Part Time</td>
                            <td>
                                <input type="number" class="form-control  " id="part_time_prev1">

                            </td>
                            <td>
                                <input type="number" class="form-control  " id="part_time_prev2">

                            </td>
                            <td>
                                <input type="number" class="form-control  " id="part_time_prev3">

                            </td>
                        </tr>
                        <tr>
                            <td>Full Time</td>
                            <td>
                                <input type="number" class="form-control  " id="full_time_prev1">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="full_time_prev2">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="full_time_prev3">
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="margin:17px 0px">
                    <button class="btn btn-primary" onclick="phdStudentForm()">Submit</button>
                </div>
            </div>

            <!-- financial resources -->
            <div id="financial_resources" class="d-none">
                <div class="row text-center ">
                    <div class="col-lg-12">
                        <h1 class="h1-responsive font-weight-bold text-info">Financial Resources</h1>
                    </div>
                </div>
                <hr>

                <div class="card" style="width:100%;">
                    <div style="margin: 20px 0 0 13px;font-weight: bold;">

                        <p style="color:red;">**Utilised Amount for the Capital & Operational expenditure for
                            previous 3 years</p>
                    </div>
                </div>
                <div class="card" style="width:100%">
                    <div style="margin: 20px 0 0 13px;font-weight: bold;">

                        Annual Capital Expenditure on Academic Activities and Resources (excluding expenditure on
                        buildings)
                    </div>
                    <table style="width:100%">
                        <tr>
                            <td>Library</td>
                            <td>
                                <input type="number" class="form-control  " id="library_prev1">

                            </td>
                            <td>
                                <input type="number" class="form-control  " id="library_prev2">

                            </td>
                            <td>
                                <input type="number" class="form-control  " id="library_prev3">

                            </td>
                        </tr>
                        <tr>
                            <td>New Equipment for Laboratories</td>
                            <td>
                                <input type="number" class="form-control  " id="new_equipments_prev1">

                            </td>
                            <td>
                                <input type="number" class="form-control  " id="new_equipments_prev2">

                            </td>
                            <td>
                                <input type=" number" class="form-control  " id="new_equipments_prev3">

                            </td>
                        </tr>
                        <tr>
                            <td>Engineering Workshops</td>
                            <td>
                                <input type="number" class="form-control" id="engineering_workshop_prev1">
                            </td>
                            <td>
                                <input type="number" class="form-control" id="engineering_workshop_prev2">
                            </td>
                            <td>
                                <input type="number" class="form-control" id="engineering_workshop_prev3">
                            </td>
                        </tr>
                        <tr>
                            <td>Other expenditure on creation of Capital Assets (excluding expenditure on Land and
                                Building)
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="other_prev1">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="other_prev2">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="other_prev3">
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="margin:17px 0px">
                    <button class="btn btn-primary" onclick="financialResourcesForm()">Submit</button>
                </div>

            </div>
            <!-- annual capital expenditure -->
            <div id="annual_capital_expenditure" class="d-none">
                <div class="row text-center ">
                    <div class="col-lg-12">
                        <h1 class="h1-responsive font-weight-bold text-info">Annual Capital Expenditure Details</h1>
                    </div>
                </div>
                <hr>


                <div class="card" style="width:100%">
                    <div style="margin: 20px 0 0 13px;font-weight: bold;">

                        Annual Operational Expenditure
                    </div>
                    <table style="width:100%">
                        <tr>
                            <td>Salaries (Teaching and Non Teaching staff)</td>
                            <td>
                                <input type="number" class="form-control" placeholder="current year" id="salary_prev1">

                            </td>
                            <td>
                                <input type="number" class="form-control  " placeholder="previous year"
                                    id="salary_prev2">

                            </td>
                            <td>
                                <input type="number" class="form-control  " placeholder="second last year"
                                    id="salary_prev3">

                            </td>
                        </tr>
                        <tr>
                            <td>Maintenance of Academic Infrastructure or consumables, other running expenditures
                                etc. (excluding maintenance of hostels and allied services)
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="maintenance_prev1">

                            </td>
                            <td>
                                <input type="number" class="form-control  " id="maintenance_prev2">

                            </td>
                            <td>
                                <input type="number" class="form-control  " id="maintenance_prev3">

                            </td>
                        </tr>
                        <tr>
                            <td>Seminars/Conferences/Workshops</td>
                            <td>
                                <input type="number" class="form-control  " id="seminars_prev1">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="seminars_prev2">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="seminars_prev3">
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="margin:17px 0px">
                    <button class="btn btn-primary" onclick="annualCapitalExpenditureForm()">Submit</button>
                </div>

            </div>
            <!-- IPR DETAILS -->
            <div id="ipr" class="d-none">
                <div class="row text-center ">
                    <div class="col-lg-12">
                        <h1 class="h1-responsive font-weight-bold text-info">IPR Details</h1>
                    </div>
                </div>
                <hr>
                <div class="card" style="width:100%">
                    <div style="margin: 20px 0 0 13px;font-weight: bold;">

                        IPR for previous 3 Calendar years
                    </div>
                    <table style="width:100%">
                        <tr>
                            <td>Calendar year</td>
                            <td>
                                <input type="number" class="form-control" id="year_prev1">

                            </td>
                            <td>
                                <input type="number" class="form-control  " id="year_prev2">

                            </td>
                            <td>
                                <input type="number" class="form-control  " id="year_prev3">

                            </td>
                        </tr>
                        <tr>
                            <td>No. of Patents Published</td>
                            <td>
                                <input type="number" class="form-control  " id="patents_published_prev1">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="patents_published_prev2">

                            </td>
                            <td>
                                <input type="number" class="form-control  " id="patents_published_prev3">

                            </td>
                        </tr>
                        <tr>
                            <td>No. of Patents Granted</td>
                            <td>
                                <input type="number" class="form-control  " id="patents_granted_prev1">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="patents_granted_prev2">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="patents_granted_prev3">
                            </td>
                        </tr>

                    </table>
                </div>
                <div style="margin:17px 0px">
                    <button class="btn btn-primary" onclick="iprForm()">Submit</button>
                </div>

            </div>
            <!-- SPONSORED RESEARCH SECTION -->
            <div id="sponsored_research" class="d-none">
                <div class="row text-center ">
                    <div class="col-lg-12">
                        <h1 class="h1-responsive font-weight-bold text-info">Sponsored Research Details</h1>
                    </div>
                </div>
                <hr>


                <div class="card" style="width:100%">
                    <div style="margin: 20px 0 0 13px;font-weight: bold;">

                        Sponsored Research Details for previous 3 financial years
                    </div>
                    <table style="width:100%">
                        <tr>
                            <td>Financial Year</td>
                            <td>
                                <input type="number" class="form-control  " placeholder="current year"
                                    id="finance_year_prev1">

                            </td>
                            <td>
                                <input type="number" class="form-control" placeholder="previous year"
                                    id="finance_year_prev2">

                            </td>
                            <td>
                                <input type="number" class="form-control  " placeholder="second last year"
                                    id="finance_year_prev3">

                            </td>
                        </tr>
                        <tr>
                            <td>Total no. of Sponsored Projects</td>
                            <td>
                                <input type="number" class="form-control  " id="sponsored_projects_prev1">

                            </td>
                            <td>
                                <input type="number" class="form-control  " id="sponsored_projects_prev2">

                            </td>
                            <td>
                                <input type="number" class="form-control  " id="sponsored_projects_prev3">

                            </td>
                        </tr>
                        <tr>
                            <td>Total no. of Funding Agencies</td>
                            <td>
                                <input type="number" class="form-control  " id="funding_agencies_prev1">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="funding_agencies_prev2">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="funding_agencies_prev3">
                            </td>
                        </tr>
                        <tr>
                            <td>Total Amount Received (Amount in Rupees)</td>
                            <td>
                                <input type="number" class="form-control  " id="amtR_prev1">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="amtR_prev2">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="amtR_prev3">
                            </td>
                        </tr>
                        <tr>
                            <td>Amount Received in Words</td>
                            <td>
                                <input type="number" class="form-control  " id="amtW_prev1">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="amtW_prev2">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="amtW_prev3">
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="margin:17px 0px">
                    <button type="submit" class="btn btn-primary" onclick="sponsoredResearchForm()">Submit</button>
                </div>

            </div>
            <!-- CONSULTANCY PROJECT -->
            <div id="consultancy_project" class="d-none">
                <div class="row text-center ">
                    <div class="col-lg-12">
                        <h1 class="h1-responsive font-weight-bold text-info">Consultancy Project Details</h1>
                    </div>
                </div>
                <hr>


                <div class="card" style="width:100%">
                    <div style="margin: 20px 0 0 13px;font-weight: bold;">

                        Consultancy Project Details for previous 3 financial years
                    </div>
                    <table style="width:100%">
                        <tr>
                            <td>Financial Year</td>
                            <td>
                                <input type="number" class="form-control  " placeholder="current year"
                                    id="fin_year_prev1">

                            </td>
                            <td>
                                <input type="number" class="form-control  " placeholder="previous year"
                                    id="fin_year_prev2">

                            </td>
                            <td>
                                <input type="number" class="form-control  " placeholder="second last year"
                                    id="fin_year_prev3">

                            </td>
                        </tr>
                        <tr>
                            <td>Total no. of Consultancy Projects</td>
                            <td>
                                <input type="number" class="form-control  " id="total_consultancy_projects_prev1">

                            </td>
                            <td>
                                <input type="number" class="form-control  " id="total_consultancy_projects_prev2">

                            </td>
                            <td>
                                <input type="number" class="form-control  " id="total_consultancy_projects_prev3">

                            </td>
                        </tr>
                        <tr>
                            <td>Total no. of Client Organizations</td>
                            <td>
                                <input type="number" class="form-control  " id="total_client_prev1">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="total_client_prev2">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="total_client_prev3">
                            </td>
                        </tr>
                        <tr>
                            <td>Total Amount Received (Amount in Rupees)</td>
                            <td>
                                <input type="number" class="form-control  " id="amttR_prev1">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="amttR_prev2">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="amttR_prev3">
                            </td>
                        </tr>
                        <tr>
                            <td>Amount Received in Words</td>
                            <td>
                                <input type="number" class="form-control  " id="amttW_prev1">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="amttW_prev2">
                            </td>
                            <td>
                                <input type="number" class="form-control  " id="amttW_prev3">
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="margin:17px 0px">
                    <button class="btn btn-primary" onclick="consultancyProjectForm()">Submit</button>
                </div>
                </form>
            </div>
            <!-- PCS Facilities -->
            <div id="pcs" class="d-none">
                <div class="row text-center ">
                    <div class="col-lg-12">
                        <h1 class="h1-responsive font-weight-bold text-info">PCS facilities Details</h1>
                    </div>
                </div>
                <hr>


                <div class="card" style="width:100%">
                    <div style="margin: 20px 0 0 13px;font-weight: bold;">

                        PCS Facilities: Facilities of physically challenged students
                    </div>
                    <table style="width:100%">
                        <tr>
                            <td> Do your institution buildings have Lifts/Ramps?</td>
                            <td>
                                <input type="text" class="form-control  " placeholder="current" id="lift_prev1">

                            </td>
                            <td>
                                <input type="text" class="form-control  " placeholder="previous" id="lift_prev2">

                            </td>
                            <td>
                                <input type="text" class="form-control  " placeholder="second last" id="lift_prev3">
                            </td>
                        </tr>
                        <tr>
                            <td> Do your institution have provision for walking aids, including wheelchairs and
                                transportation from one building to another for handicapped students?
                            </td>
                            <td>
                                <input type="text" class="form-control  " id="walking_aids_prev1">

                            </td>
                            <td>
                                <input type="text" class="form-control  " id="walking_aids_prev2">

                            </td>
                            <td>
                                <input type="text" class="form-control  " id="walking_aids_prev3">
                            </td>
                        </tr>
                        <tr>
                            <td> Do your institution buildings have specially designed toilets for handicapped
                                students?
                            </td>
                            <td>
                                <input type="text" class="form-control  " id="toilets_prev1">

                            </td>
                            <td>
                                <input type="text" class="form-control  " id="toilets_prev2">

                            </td>
                            <td>
                                <input type="text" class="form-control  " id="toilets_prev3">
                            </td>
                        </tr>

                    </table>
                </div>
                <div style=" margin:17px 0px">
                    <button class="btn btn-primary" onclick="pcsFacilitiesForm()">Submit</button>
                </div>

            </div>
        </div>

        <!-- SIDEBAR SCRIPT -->

        <script type="text/javascript">
            $(document).ready(function () {

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
                $("#dashboard_link").click(function () {
                    $("#dashboard").removeClass("d-none");
                    $("#student_strength").addClass("d-none");
                    $("#phd").addClass("d-none");
                    $("#placement").addClass("d-none");
                    $("#financial_resources").addClass("d-none");
                    $("#annual_capital_expenditure").addClass("d-none");
                    $("#ipr").addClass("d-none");
                    $("#sponsored_research").addClass("d-none");
                    $("#consultancy_project").addClass("d-none");
                    $("#pcs").addClass("d-none");

                });
                $("#fill_data_link").click(function () {
                    $("#dashboard").addClass("d-none");
                    $("#student_strength").removeClass("d-none");
                    $("#phd").addClass("d-none");
                    $("#placement").addClass("d-none");
                    $("#financial_resources").addClass("d-none");
                    $("#annual_capital_expenditure").addClass("d-none");
                    $("#ipr").addClass("d-none");
                    $("#sponsored_research").addClass("d-none");
                    $("#consultancy_project").addClass("d-none");
                    $("#pcs").addClass("d-none");

                });
                $("#phd_link").click(function () {
                    $("#dashboard").addClass("d-none");
                    $("#student_strength").addClass("d-none");
                    $("#phd").removeClass("d-none");
                    $("#placement").addClass("d-none");
                    $("#financial_resources").addClass("d-none");
                    $("#ipr").addClass("d-none");
                    $("#sponsored_research").addClass("d-none");
                    $("#consultancy_project").addClass("d-none");
                    $("#pcs").addClass("d-none");

                });
                $("#data_link").click(function () {
                    $("#dashboard").addClass("d-none");
                    $("#student_strength").addClass("d-none");
                    $("#phd").addClass("d-none");
                    $("#placement").removeClass("d-none");
                    $("#financial_resources").addClass("d-none");
                    $("#annual_capital_expenditure").addClass("d-none");
                    $("#ipr").addClass("d-none");
                    $("#sponsored_research").addClass("d-none");
                    $("#consultancy_project").addClass("d-none");
                    $("#pcs").addClass("d-none");
                });
                $("#finance_link").click(function () {
                    $("#dashboard").addClass("d-none");
                    $("#student_strength").addClass("d-none");
                    $("#phd").addClass("d-none");
                    $("#placement").addClass("d-none");
                    $("#financial_resources").removeClass("d-none");
                    $("#annual_capital_expenditure").addClass("d-none");
                    $("#ipr").addClass("d-none");
                    $("#sponsored_research").addClass("d-none");
                    $("#consultancy_project").addClass("d-none");
                    $("#pcs").addClass("d-none");


                });
                $("#annualexp_link").click(function () {
                    $("#dashboard").addClass("d-none");
                    $("#student_strength").addClass("d-none");
                    $("#phd").addClass("d-none");
                    $("#placement").addClass("d-none");
                    $("#financial_resources").addClass("d-none");
                    $("#annual_capital_expenditure").removeClass("d-none");
                    $("#ipr").addClass("d-none");
                    $("#sponsored_research").addClass("d-none");
                    $("#consultancy_project").addClass("d-none");
                    $("#pcs").addClass("d-none");


                });
                $("#ipr_link").click(function () {
                    $("#dashboard").addClass("d-none");
                    $("#student_strength").addClass("d-none");
                    $("#phd").addClass("d-none");
                    $("#placement").addClass("d-none");
                    $("#financial_resources").addClass("d-none");
                    $("#annual_capital_expenditure").addClass("d-none");
                    $("#ipr").removeClass("d-none");
                    $("#sponsored_research").addClass("d-none");
                    $("#consultancy_project").addClass("d-none");
                    $("#pcs").addClass("d-none");
                });
                $("#sponsored_link").click(function () {
                    $("#dashboard").addClass("d-none");
                    $("#student_strength").addClass("d-none");
                    $("#phd").addClass("d-none");
                    $("#placement").addClass("d-none");
                    $("#financial_resources").addClass("d-none");
                    $("#annual_capital_expenditure").addClass("d-none");
                    $("#ipr").addClass("d-none");
                    $("#sponsored_research").removeClass("d-none");
                    $("#consultancy_project").addClass("d-none");
                    $("#pcs").addClass("d-none");
                });
                $("#consultancy_link").click(function () {
                    $("#dashboard").addClass("d-none");
                    $("#student_strength").addClass("d-none");
                    $("#phd").addClass("d-none");
                    $("#placement").addClass("d-none");
                    $("#financial_resources").addClass("d-none");
                    $("#annual_capital_expenditure").addClass("d-none");
                    $("#ipr").addClass("d-none");
                    $("#sponsored_research").addClass("d-none");
                    $("#consultancy_project").removeClass("d-none");
                    $("#pcs").addClass("d-none");
                });
                $("#pcs_link").click(function () {
                    $("#dashboard").addClass("d-none");
                    $("#student_strength").addClass("d-none");
                    $("#phd").addClass("d-none");
                    $("#placement").addClass("d-none");
                    $("#financial_resources").addClass("d-none");
                    $("#annual_capital_expenditure").addClass("d-none");
                    $("#ipr").addClass("d-none");
                    $("#sponsored_research").addClass("d-none");
                    $("#consultancy_project").addClass("d-none");
                    $("#pcs").removeClass("d-none");
                });
            });

        </script>

        <!-- FORMS AJAX REQUESTS -->

        <!-- ## Student strength UG4 form -->
        <script type="text/javascript">
            function ssUg4Form() {
                let data = {};
                data.instituteId = "1345"
                data.maleStudents = document.getElementById("male_students").value;
                data.femaleStudents = document.getElementById("female_students").value;
                data.totalStudents = document.getElementById("total_students").value;

                data.withinState = document.getElementById("within_state").value;
                data.outsideState = document.getElementById("outside_state").value;
                data.outsideCountry = document.getElementById("outside_country").value;

                data.economicallyBackward = document.getElementById("economically_backward").value;
                data.sociallyChallenged = document.getElementById("socially_challenged").value;
                data.feeState = document.getElementById("fee_state").value;

                data.feeInstitute = document.getElementById("fee_institute").value;
                data.feePrivate = document.getElementById("fee_private").value;
                data.notFee = document.getElementById("not_fee").value;
                $.ajax({
                    url: "/college/dashboard/student-strength/ug4",
                    method: "POST",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        console.log(response);
                    }
                });
            }

            function ssUg5Form() {
                let data = {};
                console.log("hello");
                data.instituteId = '<%= instituteId%>';
                data.maleStudents = document.getElementById("male_students1").value;
                data.femaleStudents = document.getElementById("female_students1").value;
                data.totalStudents = document.getElementById("total_students1").value;

                data.withinState = document.getElementById("within_state1").value;
                data.outsideState = document.getElementById("outside_state1").value;
                data.outsideCountry = document.getElementById("outside_country1").value;

                data.economicallyBackward = document.getElementById("economically_backward1").value;
                data.sociallyChallenged = document.getElementById("socially_challenged1").value;
                data.feeState = document.getElementById("fee_state1").value;

                data.feeInstitute = document.getElementById("fee_institute1").value;
                data.feePrivate = document.getElementById("fee_private1").value;
                data.notFee = document.getElementById("not_fee1").value;
                // console.log(data);
                $.ajax({
                    url: "/college/dashboard/student-strength/ug5",
                    method: "POST",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        console.log(response);
                    }
                });
            }

            function ssPg2Form() {
                let data = {};
                data.instituteId = '<%= instituteId%>';
                data.maleStudents = document.getElementById("male_students2").value;
                data.femaleStudents = document.getElementById("female_students2").value;
                data.totalStudents = document.getElementById("total_students2").value;

                data.withinState = document.getElementById("within_state2").value;
                data.outsideState = document.getElementById("outside_state2").value;
                data.outsideCountry = document.getElementById("outside_country2").value;

                data.economicallyBackward = document.getElementById("economically_backward2").value;
                data.sociallyChallenged = document.getElementById("socially_challenged2").value;
                data.feeState = document.getElementById("fee_state2").value;

                data.feeInstitute = document.getElementById("fee_institute2").value;
                data.feePrivate = document.getElementById("fee_private2").value;
                data.notFee = document.getElementById("not_fee2").value;
                console.log(data);
                $.ajax({
                    url: "/college/dashboard/student-strength/pg2",
                    method: "POST",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        console.log(response);
                    }
                });
            }

            function ssPgIntegratedForm() {
                let data = {};
                data.instituteId = '<%= instituteId%>';
                data.maleStudents = document.getElementById("male_students3").value;
                data.femaleStudents = document.getElementById("female_students3").value;
                data.totalStudents = document.getElementById("total_students3").value;

                data.withinState = document.getElementById("within_state3").value;
                data.outsideState = document.getElementById("outside_state3").value;
                data.outsideCountry = document.getElementById("outside_country3").value;

                data.economicallyBackward = document.getElementById("economically_backward3").value;
                data.sociallyChallenged = document.getElementById("socially_challenged3").value;
                data.feeState = document.getElementById("fee_state3").value;

                data.feeInstitute = document.getElementById("fee_institute3").value;
                data.feePrivate = document.getElementById("fee_private3").value;
                data.notFee = document.getElementById("not_fee3").value;
                console.log(data);
                $.ajax({
                    url: "/college/dashboard/student-strength/pgIntegrated",
                    method: "POST",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        console.log(response);
                    }
                });
            }
        </script>

        <!-- ##Placement -->
        <script type="text/javascript">
            function placementUg4Form() {
                data = {};
                data.instituteId = '<%= instituteId%>';
                data.firstYearIntake = document.getElementById("first_year_intake").value;
                data.firstYearAdmitted = document.getElementById("first_year_admitted").value;
                data.academicYear = document.getElementById("academic_year").value;
                data.lateralEntry = document.getElementById("lateral_entry").value;
                data.acadeYear = document.getElementById("academic_year_again").value;
                data.minStipulatedTime = document.getElementById("min_stipulated_time").value;
                data.placed = document.getElementById("placed").value;
                data.medianSalary = document.getElementById("median_salary").value;
                data.higherStudies = document.getElementById("higher_studies").value;


                console.log(data);
                $.ajax({
                    url: "/college/dashboard/placement/ug4",
                    method: "POST",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        console.log(response);
                    }
                });
            }

            function placementUg5Form() {
                data = {};
                data.instituteId = '<%= instituteId%>';

                data.firstYearIntake = document.getElementById("first_year_intake1").value;
                data.firstYearAdmitted = document.getElementById("first_year_admitted1").value;
                data.academicYear = document.getElementById("academic_year1").value;

                data.lateralEntry = document.getElementById("lateral_entry1").value;
                data.acadeYear = document.getElementById("academic_year_again1").value;
                data.minStipulatedTime = document.getElementById("min_stipulated_time1").value;

                data.placed = document.getElementById("placed1").value;
                data.medianSalary = document.getElementById("median_salary1").value;
                data.higherStudies = document.getElementById("higher_studies1").value;

                console.log("ug5");
                console.log(data);
                $.ajax({
                    url: "/college/dashboard/placement/ug5",
                    method: "POST",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        console.log(response);
                    }
                });
            }

            function placementPg2Form() {
                data = {};
                data.instituteId = '<%= instituteId%>';

                data.firstYearIntake = document.getElementById("first_year_intake2").value;
                data.firstYearAdmitted = document.getElementById("first_year_admitted2").value;
                data.academicYear = document.getElementById("academic_year2").value;

                data.lateralEntry = document.getElementById("lateral_entry2").value;
                data.acadeYear = document.getElementById("academic_year_again2").value;
                data.minStipulatedTime = document.getElementById("min_stipulated_time2").value;

                data.placed = document.getElementById("placed2").value;
                data.medianSalary = document.getElementById("median_salary2").value;
                data.higherStudies = document.getElementById("higher_studies2").value;
                console.log(data);
                $.ajax({
                    url: "/college/dashboard/placement/pg2",
                    method: "POST",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        console.log(response);
                    }
                });
            }

            function placementPgIntegratedForm() {
                data = {};
                data.instituteId = '<%= instituteId%>';

                data.firstYearIntake = document.getElementById("first_year_intake3").value;
                data.firstYearAdmitted = document.getElementById("first_year_admitted3").value;
                data.academicYear = document.getElementById("academic_year3").value;

                data.lateralEntry = document.getElementById("lateral_entry3").value;
                data.acadeYear = document.getElementById("academic_year_again3").value;
                data.minStipulatedTime = document.getElementById("min_stipulated_time3").value;

                data.placed = document.getElementById("placed3").value;
                data.medianSalary = document.getElementById("median_salary3").value;
                data.higherStudies = document.getElementById("higher_studies3").value;


                console.log(data);
                $.ajax({
                    url: "/college/dashboard/placement/pgIntegrated",
                    method: "POST",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        console.log(response);
                    }
                });
            }
        </script>

        <!-- 1.PHD AJAX REQUEST

    request POST to /college/dashboard/phd-student-details
    -->
        <script type="text/javascript">
            function phdStudentForm() {
                data = {};
                data.instituteId = '<%= instituteId%>';

                data.fullTime = document.getElementById("full_time_phd_students").value;
                data.partTime = document.getElementById("part_time_phd_students").value;
                // last three year data of part time students
                // prev1 represent current year data
                // prev2 represent previous year data
                // prev3 represent second last year data
                // eg prev1=2022 prev2=2021 prev3=2020
                data.Prev1 = document.getElementById("prev_year1").value;
                data.Prev2 = document.getElementById("prev_year2").value;
                data.Prev3 = document.getElementById("prev_year3").value;

                data.partTimePrev1 = document.getElementById("part_time_prev1").value;
                data.partTimePrev2 = document.getElementById("part_time_prev2").value;
                data.partTimePrev3 = document.getElementById("part_time_prev3").value;

                data.fullTimePrev1 = document.getElementById("full_time_prev1").value;
                data.fullTimePrev2 = document.getElementById("full_time_prev2").value;
                data.fullTimeprev3 = document.getElementById("full_time_prev3").value;
                console.log(data);
                $.ajax({
                    url: "/college/dashboard/phd-student-details",
                    method: "POST",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        console.log(data);
                    }
                });
            }
        </script>
        <!-- 2.financial resources form ajax request

    request POST to /college/dashboard/financial-resources
    -->
        <script type="text/javascript">
            function financialResourcesForm() {
                data = {};
                // last three year data of part time students
                // prev1 represent current year data
                // prev2 represent previous year data
                // prev3 represent second last year data
                // eg prev1=2022 prev2=2021 prev3=2020
                data.instituteId = '<%= instituteId%>';

                // library

                data.libraryPrev1 = document.getElementById("library_prev1").value;
                data.libraryPrev2 = document.getElementById("library_prev2").value;
                data.libraryPrev3 = document.getElementById("library_prev3").value;
                // new equipments
                data.newEquipmentsPrev1 = document.getElementById("new_equipments_prev1").value;
                data.newEquipmentsPrev2 = document.getElementById("new_equipments_prev2").value;
                data.newEquipmentsPrev3 = document.getElementById("new_equipments_prev3").value;
                // engineering workshop
                data.engineeringWorkshopPrev1 = document.getElementById("engineering_workshop_prev1").value;
                data.engineeringWorkshopPrev2 = document.getElementById("engineering_workshop_prev2").value;
                data.engineeringWorkshopPrev3 = document.getElementById("engineering_workshop_prev3").value;
                // others
                data.otherPrev1 = document.getElementById("other_prev1").value;
                data.otherPrev2 = document.getElementById("other_prev2").value;
                data.otherPrev3 = document.getElementById("other_prev3").value;

                console.log(data);
                $.ajax({
                    url: "/college/dashboard/financial-resources",
                    method: "POST",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        console.log(response);
                    }
                });
            }
        </script>
        <!-- annual capital expenditure ajax request

        request- POST to /college/dashboard/annual-expenditure
    -->
        <script type="text/javascript">
            function annualCapitalExpenditureForm() {
                data = {};
                data.instituteId = '<%= instituteId%>';

                // last three year data of part time students
                // prev1 represent current year data
                // prev2 represent previous year data
                // prev3 represent second last year data
                // eg prev1=2022 prev2=2021 prev3=2020
                data.salaryPrev1 = document.getElementById("salary_prev1").value;
                data.salaryPrev2 = document.getElementById("salary_prev2").value;
                data.salaryPrev3 = document.getElementById("salary_prev3").value;

                data.maintenancePrev1 = document.getElementById("maintenance_prev1").value;
                data.maintenancePrev2 = document.getElementById("maintenance_prev2").value;
                data.maintenancePrev3 = document.getElementById("maintenance_prev3").value;

                data.seminarsPrev1 = document.getElementById("seminars_prev1").value;
                data.seminarsPrev2 = document.getElementById("seminars_prev2").value;
                data.seminarsPrev3 = document.getElementById("seminars_prev3").value;
                console.log(data);
                $.ajax({
                    url: "/college/dashboard/annual-expenditure",
                    method: "POST",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        console.log(response);
                    }
                });
            }
        </script>
        <!--  IPR form ajax request

    request POST to /college/dashboard/ipr-details
    -->
        <script type="text/javascript">
            function iprForm() {
                data = {};
                data.instituteId = '<%= instituteId%>';

                // last three year data of part time students
                // prev1 represent current year data
                // prev2 represent previous year data
                // prev3 represent second last year data
                // eg prev1=2022 prev2=2021 prev3=2020
                data.yearPrev1 = document.getElementById("year_prev1").value;
                data.yearPrev2 = document.getElementById("year_prev2").value;
                data.yearPrev3 = document.getElementById("year_prev3").value;

                data.patentsPublishedPrev1 = document.getElementById("patents_published_prev1").value;
                data.patentsPublishedPrev1 = document.getElementById("patents_published_prev2").value;
                data.patentsPublishedPrev1 = document.getElementById("patents_published_prev3").value;

                data.patentsGrantedPrev1 = document.getElementById("patents_granted_prev1").value;
                data.patentsGrantedPrev2 = document.getElementById("patents_granted_prev2").value;
                data.patentsGrantedPrev3 = document.getElementById("patents_granted_prev3").value;
                console.log(data);
                $.ajax({
                    url: "/college/dashboard/ipr-details",
                    method: "POST",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        console.log(response);
                    }
                });
            }
        </script>
        <!-- sponsored research form ajax request

        request- POST   to /college/dashboard/sponsored-research
    -->
        <script type="text/javascript">
            function sponsoredResearchForm() {
                data = {};
                data.instituteId = '<%= instituteId%>';

                // last three year data of part time students
                // prev1 represent current year data
                // prev2 represent previous year data
                // prev3 represent second last year data
                // eg prev1=2022 prev2=2021 prev3=2020
                data.financeYearPrev1 = document.getElementById("finance_year_prev1").value;
                data.financeYearPrev2 = document.getElementById("finance_year_prev2").value;
                data.financeYearPrev3 = document.getElementById("finance_year_prev3").value;

                data.sponsoredProjectPrev1 = document.getElementById("sponsored_projects_prev1").value;
                data.sponsoredProjectPrev2 = document.getElementById("sponsored_projects_prev2").value;
                data.sponsoredProjectPrev3 = document.getElementById("sponsored_projects_prev3").value;

                data.fundingAgenciesPrev1 = document.getElementById("funding_agencies_prev1").value;
                data.fundingAgenciesPrev2 = document.getElementById("funding_agencies_prev2").value;
                data.fundingAgenciesPrev3 = document.getElementById("funding_agencies_prev3").value;

                data.amtRPrev1 = document.getElementById("amtR_prev1").value;
                data.amtRPrev2 = document.getElementById("amtR_prev2").value;
                data.amtRPrev3 = document.getElementById("amtR_prev3").value;

                data.amtWPrev1 = document.getElementById("amtW_prev1").value;
                data.amtWPrev2 = document.getElementById("amtW_prev2").value;
                data.amtWPrev3 = document.getElementById("amtW_prev3").value;
                console.log(data);
                $.ajax({
                    url: "/college/dashboard/sponsored-research",
                    method: "POST",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        console.log(response);
                    }
                });
            }
        </script>

        <!--  consultancy project form ajax request -

    request type- POST  to /college/dashboard/consultancy-project
    -->
        <script type="text/javascript">
            function consultancyProjectForm() {
                data = {};
                data.instituteId = '<%= instituteId%>';

                // last three year data of part time students
                // prev1 represent current year data
                // prev2 represent previous year data
                // prev3 represent second last year data
                // eg prev1=2022 prev2=2021 prev3=2020
                data.finYearPrev1 = document.getElementById("fin_year_prev1").value;
                data.finYearPrev2 = document.getElementById("fin_year_prev2").value;
                data.finYearPrev3 = document.getElementById("fin_year_prev3").value;

                data.totalConsultancyProjectPrev1 = document.getElementById("total_consultancy_projects_prev1").value;
                data.totalConsultancyProjectPrev2 = document.getElementById("total_consultancy_projects_prev2").value;
                data.totalConsultancyProjectPrev3 = document.getElementById("total_consultancy_projects_prev3").value;

                data.totalClientPrev1 = document.getElementById("total_client_prev1").value;
                data.totalClientPrev2 = document.getElementById("total_client_prev2").value;
                data.totalClientPrev3 = document.getElementById("total_client_prev3").value;

                data.amttRPrev1 = document.getElementById("amttR_prev1").value;
                data.amttRPrev2 = document.getElementById("amttR_prev2").value;
                data.amttRPrev3 = document.getElementById("amttR_prev3").value;

                data.amttWPrev1 = document.getElementById("amttW_prev1").value;
                data.amttWPrev2 = document.getElementById("amttW_prev2").value;
                data.amttWPrev3 = document.getElementById("amttW_prev3").value;
                console.log(data);
                $.ajax({
                    url: "/college/dashboard/consultancy-project",
                    method: "POST",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        console.log(response);
                    }
                });
            }
        </script>
        <!--    PCS facilities form ajax request

    request type- POST  to /college/dashboard/pcs-facilities
    -->
        <script type="text/javascript">
            function pcsFacilitiesForm() {
                data = {};
                data.instituteId = '<%= instituteId%>';

                // last three year data of part time students
                // prev1 represent current year data
                // prev2 represent previous year data
                // prev3 represent second last year data
                // eg prev1=2022 prev2=2021 prev3=2020
                data.liftPrev1 = document.getElementById("lift_prev1").value;
                data.liftPrev2 = document.getElementById("lift_prev2").value;
                data.liftPrev3 = document.getElementById("lift_prev3").value;

                data.walkingAidsPrev1 = document.getElementById("walking_aids_prev1").value;
                data.walkingAidsPrev2 = document.getElementById("walking_aids_prev2").value;
                data.walkingAidsPrev3 = document.getElementById("walking_aids_prev3").value;

                data.toiletsPrev1 = document.getElementById("toilets_prev3").value;
                data.toiletsPrev2 = document.getElementById("toilets_prev2").value;
                data.toiletsPrev3 = document.getElementById("toilets_prev3").value;
                console.log(data);
                $.ajax({
                    url: "/college/dashboard/pcs-facilities",
                    method: "POST",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        console.log(response);
                    }
                });
            }
        </script>
</body>